body {
   background-color: darkgray; 
}

form {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
  
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    
    background-color: #fff;
  }
  
  form label,
  form input,
  form button,
  h1 {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  h1 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  form input {
    padding: 8px;
    text-align: left;
  }
  
  form button {
    padding: 10px;
    cursor: pointer;
  }

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  
    margin: 40px;
    padding: 20px;
  
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: gray;
  }
  
  .card {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
  
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  
    text-align: center;
  }

  #novaTarefa {
    width: 25%;
    display: block;
    margin: 30px auto;
  }